h1{

color:red;
}
.para1{
color:green;
background-color:lightpink;
font-size:25px;
}
div{
color:orange;
background-color:yellow;
font-family:Pritina;
}
.para2{
color:blue;
background-color:skyblue;
font-weight:bold;
}
